.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr 1.2fr;
  grid-template-rows: 0.4fr 0.5fr 1.5fr 1.1fr;
  grid-template-areas:
    "sidebar main main main rightbar"
    "sidebar content1 content1 content1 rightbar" 
    "sidebar footer footer footer rightbar"
    "sidebar footer footer footer rightbar";
  grid-gap: 0.05rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #004d40;
  text-align: center;
}

#nav {
  background: #a7ffeb;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

// main {
//   background: #84ffff;
//   grid-area: main;
//   border-radius: var(--main-radius);
//   padding-top: var(--main-padding);
//   display: flex;
//   justify-content: space-evenly;
//   align-items: center;
// }

#sidebar {
  background: #18ffff;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content1 {
  background: #6fffd2;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content2 {
  background: #64ffda;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content3 {
  background: #73ffba;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#rightbar {
  display: flex;
  flex-direction: column;
  background: #73ffba;
  grid-area: rightbar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#r1{
  flex-grow: 2;
}
#r2{
  flex-grow: 1;
}

#f1{
  flex-grow: 1;
  border-radius: 35px;
}

#f2{
  flex-grow: 1;
  border-radius: 35px;
}

#main-ele{
  width: 25%;
  height: 100%;
  background-color: red;
  border-radius: 45px;
}

.sidebar_ele{
  height: 60px;
  display: flex;
  align-items: center;
}
.sidebar_text{
  font-size: 15px;
}
.company_name{
  font-size: 24px;
}
.icon_name {
  padding: 15px 15px 15px 25px;
  display: flex;
}
.icon{
  margin: 0px 15px;
}
.sidebar_ele_active{
  height: 100%;
  width: 2%;
  background-color: #ff6361;
}
.sidebar_ele_logo {
    width: 18px;
    height: 18px;
}

// footer {
//   background: #1de9b6;
//   grid-area: footer;
//   border-radius: var(--main-radius);
//   padding-top: var(--main-padding);
//   display: flex;
// }

// a {
//   text-align: center;
//   display: block;
//   font-family: inherit;
//   text-decoration: none;
//   font-weight: bold;
//   margin: 1rem;
// }

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr ;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "content1"
      "rightbar"
      "footer";
  }
  // main {
  //     flex-direction: column;
    // }
  #main-ele{
     margin: 5px;
     width: 55%;
  height: 69px;
    }
  // body {
  //     overflow: scroll;
  // }
  
}
