@import '../../utilities/variables.scss';

.nav_bar  {
    background: $sfn-button !important;
    padding: 10px 25px !important;
}
.company_title  {
    font-weight: 400 !important;
    font-size: 17px!important;
}