@import '../../../utilities/classes.scss';
@import '../../../utilities/variables.scss';


 .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1.3fr 1fr;
    grid-gap: 0.2rem;
    font-weight: 800;
    font-size: 12px;
    color: #004d40;
    text-align: center;
  }

  .demo_login {
    display: flex;
  }
  
  #logo{
    background-color: #4BCCE2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #logo img {
    width: 70%;
    height: 50%;
  }
  
  #content{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 20px 30px 50px;
  }

  .card{
    height: 50%;
    width: 50%;
    background-color: #C2C2C2;
    margin: 25px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo_img {
    height: 80%;
    border-radius: 160px;
  }

  #title{
    font-size: 2.5rem;
    display: flex;
  }
  #switch_screen{
    display: flex;
  }
  #switch_screen p{
    margin: 0;
  }
  #google_login{
    background-color: white;
    width: 40%;
    display: flex;
    align-items: center;
    margin: 15px 0px;
  }
  .google_login{
    display: flex;
    align-items: center;
    justify-content: center
  }
   #google_login img {
    width: 30px;
    height: 30px;
    margin: 0px 20px;
  }
  
  #or{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .striped_border { border: 1px dashed #000; width: 40%; margin: auto; margin-top: 5%; margin-bottom: 5%; }

  .login_content {
    width: 50%;
  }
  .check_box {
    margin-top: 1rem !important;
    justify-content: space-between !important;
    display: flex !important;
}


  #login{
    margin-top: 15px;
  }

    @media only screen and (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 5fr;
      grid-template-areas:
        "logo"
        "content"
    }
    .login_content {
      width: 100%;
    }
  
    #logo img {
      width: 55%;
      }
  
      #content{
        background-color: rgb(247, 247, 247);
        display: grid;
        padding: 10px 30px;
        display: flex;
      }
      #google_login{
        width: 70%;
      }
    
  }