@import '../../utilities/variables.scss';
.primary_btn {
    .btn {
        background: $sso-button;
        color: $sfn-common-white;
        font-weight: 600;
        font-size: 16px;
        border: none;
        padding: 8px 30px;
        border-radius: 5px;
        box-shadow: unset;
        text-transform: capitalize;
        &:hover {
            background-color: $sso-button;
            color: $sfn-common-white;
            box-shadow: unset;
        }
    }
}